<template>
  <q-page class='flex flex-center'>
    <form @submit.prevent='pedirPersonajes()'>
        <q-input v-model="search" />
        <q-btn label="Search" />
    </form>
    <div v-for='(character, index) in characters' :key='index'>
      <div class='character_container' v-if='characters.lenght > 0'>
        <div class='character_name'>
          <router-link :to="'characters/' + character.id">{{ character.name }}</router-link>
        </div>
        <div class='character_id'>{{ character.id }}</div>
        <img class='character_image' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
      </div>
    </div>
  </q-page>
</template>

<style>
  .character_image {
    width: 10vw;
    height: 20vh;
  }
  .character_name {
    background-image: linear-gradient(to right, #B40404, #DF0101, #FF0000);
    padding: 2%;
    text-align: center;
    width: 10vw;
    height: 10vh;
    padding-top: 4vh;
    color: white;
  }
   .character_id {
    background-image: linear-gradient(to right, #B40404, #DF0101, #FF0000);
    padding-bottom: 2%;
    text-align: center;
    width: 10vw;
    height: 10vh;
    color: white;
  }
  .character_container {
    margin-right: 1vw;
  }
</style>

<script>
export default {
  name: 'PageIndex',

  data: () => ({
    publicApiKey: 'c39835b7df983c3d95f6b4dbcba2368d',
    characters: null,
    search: null
  }),

  methods: {
    pedirPersonajes () {
      const config = {
        params: {
          apikey: this.publicApiKey
        }
      }

      if (this.search) {
        config.params.nameStartsWith = this.search
      }

      this.$axios.get('https://gateway.marvel.com/v1/public/characters', config)
        .then((resultado) => {
          console.log('Resultado :', resultado.data)
          this.characters = resultado.data.data.results
        })
        .catch((error) => {
          console.log('Algo esta mal', error)
        })
    }
  },

  mounted () {
    this.pedirPersonajes()
  }
}
</script>
