<template>
  <q-page class='flex flex-center'>
    <div v-for='(character, index) in character' :key='index'>
      <div class='character_container'>
        <div style="float: left">
          <img class='character_image' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
        </div>
        <div style="float: left">
          <div class='character_name'>{{ character.name }}</div>
          <div class='character_id'>{{ character.id }}</div>
        </div>
      </div>
      <div class='character_info' v-if='character.series.items.lenght > 0'>
        <ul v-for='(serie, index) in character.series.items' :key='index'>
          <li>{{ serie.name }}</li>
        </ul>
        <ul v-for='(event, index) in character.events.items' :key='index'>
          <li>{{ event.name }}</li>
        </ul>
      </div>
    </div>
  </q-page>
</template>

<style>
  .character_image {
    width: 10vw;
    height: 20vh;
  }
  .character_name {
    background-image: linear-gradient(to right, #B40404, #DF0101, #FF0000);
    padding: 2%;
    text-align: center;
    width: 10vw;
    height: 10vh;
    padding-top: 4vh;
    color: white;
  }
   .character_id {
    background-image: linear-gradient(to right, #B40404, #DF0101, #FF0000);
    padding-bottom: 2%;
    text-align: center;
    width: 10vw;
    height: 10vh;
    color: white;
  }
  .character_container {
    margin-right: 1vw;
  }
</style>

<script>
export default {
  name: 'PageIndex',

  data: () => ({
    publicApiKey: 'c39835b7df983c3d95f6b4dbcba2368d',
    character: null
  }),

  mounted () {
    const config = {
      params: {
        apiKey: this.publicApiKey
      }
    }

    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters?apikey=c39835b7df983c3d95f6b4dbcba2368d')
      .then((resultado) => {
        console.log('Resultado :', resultado.data.data.results)
        this.characters = resultado.data.data.results
      })
      .catch((error) => {
        console.log('Algo esta mal', error)
      })
  }
}
</script>
